@font-face {
	font-family: 'Futura';
	src: url("/trabajo-final/Home/fonts/Futura.woff");
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
	font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
	
    
}
.fondo{
    width:100%;
}


/*---------------------
	Header section
-----------------------*/

.header-section {
	position: absolute;
	width: 100%;
	top: 0;
	padding: 30px 50px 0;
	z-index: 99;
}

.header-section .site-btn {
	float: right;
	margin-left: 60px;
}

.header-section .responsive-bar,
.header-section .user {
	display: none;
}

.main-menu {
	float: right;
}

.menu-list {
	list-style: none;
}

.menu-list li {
	display: inline;
}

.menu-list li a {
	display: inline-block;
	font-family: "Futura", sans-serif;
	font-size: 16px;
	padding: 10px 5px;
	margin-right: 30px;
	color: #ffffff;
}




/*---------------------
	Form section
-----------------------*/

.introForm h1 span {
	color: #16d0c5;
}
.introForm h1 {
	color: #20509e;
}

.introForm{
    font-family: "Futura", sans-serif;
    position:absolute;
    top: 360px;
    left: 90px;
  
}

.int{
    width: 50%;
    text-align: center;
    font-size: 19px;
}


.gradient-bg {
	/* FF3.6-15 */
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#3e2bce), color-stop(100%, #2dd3aa), color-stop(100%, #2dd3aa), to(#2dd3aa));
	background: -o-linear-gradient(left, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
	background: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e2bce', endColorstr='#2dd3aa', GradientType=1);
	/* IE6-9 */
}

form{
    font-family: "Futura", sans-serif;
    position:relative;
    top: 70px;
    height: 650px;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.boton{
  font-size: 20px;
}

#step-2 {
    display: none;
  }

.resumen{
    height: 650px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
#summary {
    border: 1px solid #2e0985;
    padding: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

/*---------------------
	Footer Section
-----------------------*/
footer{
    position:relative;
    top: 450px;
}

.footer-widget span {
	color: #acb9cc;
}

.footer-widget p {
	margin-bottom: 20px;
}

.footer-widget .widget-title {
	margin-bottom: 30px;
	font-size: 20px;
}

.footer-widget ul {
	list-style: none;
}

.footer-widget ul a {
	font-size: 16px;
	color: #75849a;
	display: block;
	margin-bottom: 12px;
}

.footer-widget ul li:last-child a {
	margin-bottom: 0;
}

.social a {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	padding-top: 7px;
	font-size: 18px;
}

.social a:last-child {
	margin-right: 0;
}

.social .facebook {
	background: #4b6cd0;
}

.social .google {
	background: #f03b3b;
}

.social .instagram {
	background: #bb8950;
}

.social .twitter {
	background: #49a7f3;
}

.footer-bottom {
	border-top: 1px solid #ebebeb;
	padding: 30px 0;
}

.footer-nav {
	list-style: none;
}

.footer-nav li {
	display: inline-block;
}

.footer-nav li a {
	color: #75849a;
	font-size: 14px;
	margin-left: 20px;
}
/*
footer{
    background-color: rgb(197, 199, 198);
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    
}

.secciones{
    width: 34% ;
    text-align: center;
}*/



